
<div class="container">
  <h2 class="mt-5">Formulario</h2>
  <hr>
  <div class="d-flex justify-content-center">
    <form class="" action="" method="post">
      <div class="py-2">
        <mat-form-field class="px-3">
           <input matInput type="number" placeholder="Number">
        </mat-form-field>
        <mat-form-field class="px-3">
           <input matInput placeholder="Name">
        </mat-form-field>
      </div>
      <div class="py-2">
        <mat-form-field class="px-3">
           <input matInput placeholder="Weight">
        </mat-form-field>
        <mat-form-field class="px-3">
           <input matInput placeholder="Symbol">
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-center py-2">
        <button mat-raised-button class="">Añadir Dato</button>
      </div>
    </form>
  </div>
</div>
